parameters:
    database_host: 127.0.0.1
    database_port: null
    database_name: symfony2
    database_user: root
    database_password: 123456
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    secret: 3910b294e3e689f2300554323fb1916a36415e23

    jwt_private_key_path: '%kernel.root_dir%/../var/jwt/private.pem'
    jwt_public_key_path:  '%kernel.root_dir%/../var/jwt/public.pem'
    jwt_key_pass_phrase:  123456
    jwt_token_ttl:        3600